.card {
    @apply rounded shadow-lg p-4 bg-white mb-6;
    .card-header {
        @apply text-lg font-medium text-gray-900;
        padding: 1rem 0;
        border-bottom: 1px solid rgb(238, 237, 237);
        margin-bottom: 1rem;
    }
    .card-body {
        @apply p-1;
    }
}
